<html>
    <title>
        FCC File Metadata Microservice
    </title>
    
    <Body>
        <h1>Upload a file to know its size</h1>
     
       <form action='upload' method='post' enctype="multipart/form-data">
        <input type='file' name='fileinput'>
        <input type='submit' >
       </form>
        
    </Body>
</html>