<html>
    <title>
        FCC File Metadata Microservice
    </title>
    
    <Body>
        <h1>Upload a file to know its size</h1>
     
       <form action='upload'>
        <input type='file'>
        <input type='submit'>
       </form>
        
    </Body>
</html>